# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.DesignPatterns.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\deqqu\Documents\GitHub\DesignPatterns\PM_HW_8\.idea\.idea.DesignPatterns\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
